# Disclaimer
1. Use `Shift` + `Enter` to run the code inside of your current cell in Jupyter Notebook
2. The `print()` function in Python lets us print out the value of a certain variable we are interested in by doing `print(<some_variable_name>)`

# Core philosophy of Python
* Beautiful is better than ugly
* Explicit is better than implicit
* Simple is better than complex
* Complex is better than complicated
* Readability counts

(Source: The Zen of Python)

# Why are we learning Python?
* Code Readability
* Open Source
* Libraries (All packaged into one language)
    * **Numpy** - Fast computation like MATLAB
    * **Pandas** - Data Frame usage like R
    * **Scikit-Learn** - Easy Machine Learning algorithm implementation

# Variables
Just like in mathematics, we use variables to assign a value to a name. There are some rules for
this:

1. Variable names must start with a letter or an underscore
2. Following the initial letter or underscore, the remainder of the variable must consist of letters, underscores, or numbers
3. Variable names are case sensitive

Readability is key with variable names, and makes programming much easier. Try to use
relevant and descriptive names, for example:

```
age = 21
first_name = 'Ryan'
pi = 3.14159
```

# Numbers
There are 2 main types of numbers in Python: `int` (integers) and `float` (real/decimal numbers). 

**Example ints: -6, 0, 44, 2346**

**Example floats: 9.2, -1.3, 8.0**

In order to manipulate, or change, the value of numbers, use these operations: 
* \+ (Addition)
* \- (Subtraction)
* \* (Multiplication)
* / (Division)

## Practice
\# Lines starting with a '#' are line comments, and are not executed

''' Lines surrounded by three (single or double) quotes are block comments, and are not executed '''

In [36]:
'''
PRACTICE: Do the following in Python code.

1) Create a variable named "num_weekend_days" which has a value of 2
2) Create a variable named "num_week_days" which has a value of 5
3) Create a variable named "full_week" which has a value equal to the sum of "num_weekend_days" and "num_week_days"
'''

# Write your code here.
num_weekend_days = 2
num_weekdays = 5
full_week = num_weekend_days + num_weekdays
print(full_week)

7

# Strings
Strings are continuous sets of characters wrapped in double or single quotes

**Example:** `“Hello World!”` and `‘This is a string’` are both strings

**Syntax:** You can define strings the same way you defined numbers, but they must be in a set of
single quotes or double quotes.

We use the command `print()` to print out the value of the string. Inside the parenthesis, we can use
the `+` operator to combine two strings or the `,` (comma) operator to
concatenate the string with anything and a space inserted in the middle.

## Example

In [41]:
greeting = 'Hello Everyone!'
question = 'How are you?'
#print(greeting)
#print(greeting + question)
#print(greeting, question)
#print('My Greeting is:', greeting)
greeting = 'Goodbye'
print('My Greeting is:', greeting)

My Greeting is: Goodbye

## Practice
Write some Python code to:

1. Store your first and last name into a string variable called `name`
2. Print the following message: **Hi, my name is YOUR_NAME_HERE** 
    * Use your `name` variable, the `print()` function, and the `,` (comma) operator to print out the message

In [14]:
# Write your code here.
pass

# Indexing Strings
You can also access individual characters in a string by using their `index`. 

For example, the string `greeting = "hello"`. `hello` has 5 characters in it. In most languages, the first element of a sequence **starts at index 0**.

To access the index of a sequence, we use the `[]` operator, which is used like this: `variable[index]` to access the `index` of `variable`
* greeting[0]       # This is 'h'
* greeting[1]       # This is 'e'
* greeting[2]       # This is 'l'
* greeting[3]       # This is 'l'
* greeting[4]       # This is 'o'

To access the `first` character of our string, we can get the `0th index`.

To access the `n`-th character of our string, we can get the `(n-1)`-th index:

## Practice
1. Create variables called `firstname` and `lastname` with values of your first name and your last name respectively
2. `print()` out your initials using the `firstname` and `lastname` variables.
    * HINT: The first character of a variable can be accessed using `indexing` with the `[]` operator as seen above

In [16]:
# Create firstname/lastname variables here

# Print out your initials here

# Lists
Lists are Python’s most versatile of python’s data types, lists are defined as a group of elements that
can be of any data type. One key component of lists is that they are mutable, meaning they can
be updated or changed at any time.

Syntax: Lists can have any name you like, just like with other variables, but the items of your list
must be stored in square brackets, and separated by commas

## Example

In [42]:
my_list = [ 'my', 123, 'list', 456, 'is', 789.0, 'this' ]
print(my_list)

['my', 123, 'list', 456, 'is', 789.0, 'this']

## List Indexing
Lists can also be indexed, the same way that strings can. In fact, anything that can be indexed is called an `iterable`

In [44]:
print(my_list[5]) #prints 3rd index (4th element) of list

789.0

## List Methods
Lists have built-in methods to do things like add, remove, change elements
* `my_list.append(element)` adds `element` to the end of our list called `my_list`
* `my_list.insert(index, element)` inserts `element` into the index `index` of `my_list`
* `my_list.remove(element)` removes `element` from `my_list`

### Example

In [45]:
print(my_list)

['my', 123, 'list', 456, 'is', 789.0, 'this']

In [46]:
print("BEFORE:", my_list)
my_list.append(123456)
print("AFTER:", my_list)

BEFORE: ['my', 123, 'list', 456, 'is', 789.0, 'this']
AFTER: ['my', 123, 'list', 456, 'is', 789.0, 'this', 123456]

In [47]:
print("BEFORE:", my_list)
my_list.insert(0, 'WOW') #insert ‘WOW’ into index 0 of my_list
print("AFTER:", my_list)

BEFORE: ['my', 123, 'list', 456, 'is', 789.0, 'this', 123456]
AFTER: ['WOW', 'my', 123, 'list', 456, 'is', 789.0, 'this', 123456]

In [48]:
print("BEFORE:", my_list)
my_list.remove(789.0)
print("AFTER:", my_list)

BEFORE: ['WOW', 'my', 123, 'list', 456, 'is', 789.0, 'this', 123456]
AFTER: ['WOW', 'my', 123, 'list', 456, 'is', 'this', 123456]

## Example

In [53]:
# Create a list of the numbers from 1 to 5
# Append the number 6 to the list
# Insert the number 0 to the list
# Remove the number 3 from the list
empty_list = []
print(empty_list)
empty_list.append(1)
empty_list.append(2)
print(empty_list)

[]
[1, 2]

In [55]:
my_list = [1, 2]
my_list.append(2)

## Dictionaries
Dictionaries are another way of storing data. They store key-value pairs. 

Keys are generally a number or a name which are used to point to any other type of data

Syntax: Instead of square brackets, we use curly braces `{}` . Inside of the curly
braces, we have something like this `key1 : value1, key2 : value2`, where we use commas to separate pairs of data.

## Dictionary Indexing
Dictionaries have a different style from lists. Instead of accessing elements by using a number `index`, we access elements by using a `key` to get an associated `value`.

### Example

In [65]:
superhero_dict = {
'Iron Man': 'Tony Stark',
'Captain America': 'Steve Rogers',
'Superman': 'Clark Kent',
'Spiderman': 'Peter Parker'}

print(superhero_dict['Iron Man'])

Tony Stark

In [66]:
# To add an element
superhero_dict['Deadpool'] = 'Wade Wilson'
#print('AFTER:', superhero_dict)

# To delete an element
del superhero_dict['Superman']
print('AFTER:', superhero_dict)

AFTER: {'Iron Man': 'Tony Stark', 'Captain America': 'Steve Rogers', 'Spiderman': 'Peter Parker', 'Deadpool': 'Wade Wilson'}

In [67]:
var1 = 2
var3 = 5

print(var1)
var1 = 7
print(var1)
print(var3)

2
7
5

In [77]:
name = 'Ryan'

if name == 'Ryan':
    print('I like Data Science')
else:
    print('I like Math')

I like Data Science

In [76]:
# Comparison Operators
# <, >, <=, >=, == (equal), != (not equal)
print(3 > 5)
print(10 > 5)
print(3 == 5)
print(3 != 5)

False
True
False
True

## Practice

In [78]:
# Pick a number between 1 - 10 and save it to a variable
# print BUDSA if your number is less than 5
# print HackBU otherwise
number = 7

if number < 5:
    print('BUDSA')
else:
    print('HackBU')

HackBU

In [81]:
if number < 8:
    print('test')

test

# Loops
Save us work.

## For Loops
```
for i in range(10):
    print(i)
```

## While Loops

In [83]:
# range(endpoint) -> all numbers from [0, end)
# range(startpoint, endpoint)
# range(start, end, increment_value)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [84]:
# range(startpoint, endpoint)
for i in range(3, 7):
    print(i)

3
4
5
6

In [85]:
# range(start, end, increment_value)
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

## Practice

In [92]:
# Write a for loop to print all the odd numbers between 1 and 15
for i in range(1, 16, 2): # iteration
    print(i)

1
3
5
7
9
11
13
15

In [98]:
# Add up all the numbers from 1 to 10
total = 0
x = 0

for i in range(1, 11): #include 10
    total = total + i
    
print(total)
# total = 0 + 1
# total = 0 + 2

# total = 0 + 10
# total = 10

55

## Practice

In [ ]:
# Get the product of the numbers from 1 to 5 ( 5! -> 5 Factorial)
# using a for loop

# Create a variable to keep track of our product

# Loop for every number (i) from 1 to 5
# Update our variable by multiplying by (i)

# While Loops
With a for loop, we loop based on the range of numbers we define.

for i in range(10): -> we loop 10 times

With while loops, we loop based on a condition.

In [103]:
i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [100]:
# i = 0
# i = i + 1 # 10 times
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [102]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
i = 6

while i > 2:
    print(i)
    i = i - 1

6
5
4
3

In [105]:
for i in range(6, 2, -1):
    print(i)

6
5
4
3

## Functions
A way to write portable code that you can re-use repeatedly

In [109]:
first = 'Ryan'
last = 'McCormick'
initials = first[0] + last[0]
print(initials)

RM

In [110]:
first = 'Allison'
last = 'Lee'
initials = first[0] + last[0]
print(initials)

AL

In [111]:
def get_initials(first, last):
    return first[0] + last[0]

In [112]:
get_initials("Ryan", "McCormick")

'RM'

In [113]:
get_initials("Allison", "Lee")

'AL'

## Indexing

In [116]:
my_list = [5, 7, 6, 10]
print(my_list)
print(my_list[2])

[5, 7, 6, 10]
6

## Practice

In [117]:
# Write a function called perimeter(sides) that takes in a 
# list of 4 numbers called "sides", and returns the sum of 
# those sides
def perimeter(sides: list):
    # you write code here to add the sides of the list together
    return sides[0] + sides[1] + sides[2] + sides[3]

my_list = [1, 2, 3, 4]
perimeter(my_list)

10

In [118]:
another_list = [1, 2]
perimeter(another_list)

IndexError: list index out of range

In [122]:
my_list = [5, 10, 20]
for i in my_list:
    print(i)

5
10
20

In [123]:
def perimeter(sides):
    total = 0
    for side in sides:
        total = total + side
        
    return total

In [124]:
perimeter([1, 2, 3, 4])

10

In [125]:
perimeter([1, 2, 3, 4, 5, 6, 10, 100])

131

In [126]:
perimeter([])

0

In [127]:
def perimeter(sides):
    return sum(sides)

In [128]:
perimeter([1, 2, 3, 4])

10

In [131]:
my_list = list(range(1000))
perimeter(my_list)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [ ]:
def removeFromEnd(number_to_remove):